# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/HyacinthFolder/v16
/x64/Debug
/base
/HyacinthFolder/x64/Debug
/HyacinthFolder/res2/resString.h
/obj
/tools/resFileFactory/.vs/resFileFactory/v16
*.ilk
*.pdb
/bin/debug.log
/bin/LocalStorage
/webres---
